/* #root {
  text-align: center;
} */

/* * {
  outline: 1px solid red; 
} */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.times-new {
  font-family: 'Times New Roman', Times, serif;
}


.domine-100 {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}


.domine-200 {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.domine-300 {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.domine-400 {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.domine-500 {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.domine-600 {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.domine-700 {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* HTML: <div class="loader"></div> */
.loader {
  color: #193cb8;
  width: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
  transform: translateX(-38px);
  animation: l21 .5s infinite alternate linear;
}

@keyframes l21 {
  50%  {box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px}
  100% {box-shadow: 19px 0 0 0  , 38px 0 0 3px, 57px 0 0 7px}
}